body {
  color: white;
  font-family: Helvetica;
}

.header {
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
.header h1 {
  font-size: 70px;
}
.btn-nav{
  font-size: 18px;
  color: white;
}
.supporting {
  text-align: center;
  color: black;
}
div .supporting-item h3 {
  font-size: 23px;
  font-weight: bold;
}
h1 h2 h3 {
  font-weight: bold;
}

p {
  display: block;

}
img {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
.designed {
  color: white;
  font-weight: bolder;
  font-size: 23px;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
